.filters-outer {
  padding-bottom: 60px;
}

.filter-types {
  position: relative;
  width: 100%;
  height: 100%;
  .inner {
    padding: 60px 20px 40px;
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    background-color: salmon;
    .filter-item {
      padding: 20px 40px;
      box-shadow: -2px -1px 18px 4px rgba(0, 0, 0, 0.3);
      p {
        font-family: "Fresh Sans Medium", Arial, Helvetica, sans-serif;
        font-size: 1.6rem;
        line-height: 1.25em;
        margin-bottom: 0;
      }
    }
  }
}

.filter-dietary {
  position: relative;
  width: 100%;
  height: 100%;

  .inner {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .copy {
      margin-right: 40px;
    }
    .filter-item {
      box-shadow: -2px -1px 18px 4px rgba(0, 0, 0, 0.3);
      border: 1px solid black;
      padding: 20px 40px;
      margin-right: 40px;
      &.activeButton {
        background-color: black;
        color: #ffffff;
      }
      &:last-of-type {
        margin-right: 0;
      }
      p {
        text-align: left;
        margin-bottom: 0;
      }
    }
  }
}

.recipes-outer {
  background-color: #fafafa;
  .inner {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 16px;
    .recipe-single {
      background-color: #ffffff;
      max-width: 460px;
      height: 100%;
      height: 800px;
      margin: 20px;
      box-shadow: -2px -1px 18px 4px rgba(0, 0, 0, 0.3);
      display: none;
      &.active {
        display: block;
      }
      // &.inactive {
      //   display: none;
      // }
      .recipe-image {
        img {
          min-width: 100%;
          max-width: 100%;
          height: 300px;
          background-color: lightpink;
        }
      }
      .inner {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        position: relative;
        .recipe-headline {
          width: 100%;
          font-family: "Fresh Sans Bold", Arial, Helvetica, sans-serif;
        }
        .dietary-types {
          width: 100%;
          p {
            font-family: "Fresh Sans Bold", Arial, Helvetica, sans-serif;
          }
          ul {
            li {
            }
          }
        }
        .recipe-instructions {
          padding-bottom: 10px;
          p {
            font-family: "Fresh Sans Bold", Arial, Helvetica, sans-serif;
          }
        }
        .recipe-cooking-time {
          display: flex;
          justify-content: space-between;
          width: 100%;
          position: relative;
          p {
            .bold {
              font-family: "Fresh Sans Bold", Arial, Helvetica, sans-serif;
            }
          }
        }
      }
    }
  }
}

.recipe-single-saved {
  // display: none;
  background-color: #ffffff;
  max-width: 460px;
  height: 100%;
  height: 800px;
  margin: 20px;
  box-shadow: -2px -1px 18px 4px rgba(0, 0, 0, 0.3);
  &.active {
    display: block;
  }
  &.inactive {
    display: none;
  }
  .recipe-image {
    img {
      min-width: 100%;
      max-width: 100%;
      height: 300px;
      background-color: lightpink;
    }
  }
  .inner {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    padding: 16px;
    .recipe-headline {
      width: 100%;
      font-family: "Fresh Sans Bold", Arial, Helvetica, sans-serif;
    }
    .dietary-types {
      width: 100%;
      p {
        font-family: "Fresh Sans Bold", Arial, Helvetica, sans-serif;
      }
      ul {
        li {
        }
      }
    }
    .recipe-instructions {
      padding-bottom: 10px;
      p {
        font-family: "Fresh Sans Bold", Arial, Helvetica, sans-serif;
      }
    }
    .recipe-cooking-time {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;
      p {
        .bold {
          font-family: "Fresh Sans Bold", Arial, Helvetica, sans-serif;
        }
      }
    }
  }
}

.activeButton {
  background-color: #ffff0075;
  border: 1px solid white;
}

.saved-recipe-list {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  h1 {
    font-family: "Fresh Sans Medium", Arial, Helvetica, sans-serif;
    font-size: 3rem;
  }
}
